<!DOCTYPE html>
{% load static  %}
<html lang="en">
<head>
  <link rel="stylesheet" href="{% static 'main/css/mdb.main.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/all.main.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/mdb.rtl.min.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

   
</head>
<body>
    <div class="shadow-1-strong bg-white my-5 p-5" id="about">
        <div class="about-section">
          <div class="row">
            <div class="col-md-5">
              <h2 class="h2 fw-light mb-4"><strong> About Me</h2></strong>
              <p>Hello! I’m Aizaz khan. I am junior data analyst and Sciencetist about UI/UX design and Web Design. I am a skilled <strong>front-end developer</strong> and master of graphic design tools such as Photoshop and Sketch. I am a quick learner and a team worker that gets the job done.</p>
              <p>I can easily capitalize on low hanging fruits and quickly maximize timely deliverables for real-time schemas.</p>
            </div>
            <div class="col-md-5 offset-lg-1">
              <div class="row mt-2">
                <h2 class="h2 fw-light mb-4"> <strong>Bio </h2></strong>
                <div class="col-sm-5">
                  <div class="pb-2 fw-bolder"><i class="far fa-calendar-alt pe-2 text-muted" style="width:24px;opacity:0.85;"></i> Age</div>
                </div>
                <div class="col-sm-7">
                  <div class="pb-2">22</div>
                </div>
                <div class="col-sm-5">
                  <div class="pb-2 fw-bolder"><i class="far fa-envelope pe-2 text-muted" style="width:24px;opacity:0.85;"></i> Email</div>
                </div>
                <div class="col-sm-7">
                  <div class="pb-2">aizazkhan102030@gmail.com</div>
                </div>
              
                <div class="col-sm-5">
                  <div class="pb-2 fw-bolder"><i class="fas fa-phone pe-2 text-muted" style="width:24px;opacity:0.85;"></i> Phone</div>
                </div>
                <div class="col-sm-7">
                  <div class="pb-2">+923362121725</div>
                </div>
                <div class="col-sm-5">
                  <div class="pb-2 fw-bolder"><i class="fas fa-map-marker-alt pe-2 text-muted" style="width:24px;opacity:0.85;"></i> Address</div>
                </div>
                <div class="col-sm-7">
                  <div class="pb-2"> HOUSE NO#379,STR,24,SECTOR F-10,PHASE 6 HAYATABAD PESHAWAR</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    

</body>
</html>