<!DOCTYPE html>
{% load static  %}
<html lang="en">
<head>
  <link rel="stylesheet" href="{% static 'main/css/bootstrap.css' %}">
 
  <link rel="stylesheet" href="{% static 'main/css/main.css' %}">


  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    


</head>
<body>
    
    <div class="shadow-1-strong bg-white my-5 p-5" id="education">
        <div class="education-section">
          <h2 class="h2 fw-light mb-8">Education</h2>
          <div class="timeline">
            <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="0">
              <div class="timeline-head px-4 pt-3">
                <div class="h5">Bachelor of data Science  <span class="text-muted h6">Institute of Management Science  University</span>          </div>
              </div>
              <div class="timeline-body px-4 pb-4">
                <div class="text-muted text-small mb-3">2019 - 2023</div>
                <div>BS (Data Science) has a dual emphasis on basic principles of statistics and computer science, with foundational training in statistical and mathematical aspects of data analysis. This program, in addition, develops foundation on broad computer science principles, including algorithms, data structures, data management and machine learning. .</div>
              </div>
            </div>
            <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="200">
              <div class="timeline-head px-4 pt-3">
                <div class="h5">DIT(diploma of information technology) <span class="text-muted h6">KPBT brain post- graduate  College IT PESHAWAR</span>          </div>
              </div>
              <div class="timeline-body px-4 pb-4">
                <div class="text-muted text-small mb-3">2018 - 2019</div>
                <div>IT Diploma in Pakistan, specially designed to meet with market demand of high-quality professionals having expertise and sound understanding with all key areas of information technology like application development, database administration, networking and computer hardware.</div>
              </div>
            </div>
            <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="400">
              <div class="timeline-head px-4 pt-3">
              <div class="h5">intermediate <span class="text-muted h6">University College for Boys University PESHAWAR</span> High Scool</span>          </div>
              </div>
              <div class="timeline-body px-4 pb-4">
                <div class="text-muted text-small mb-3">2018 - 2019</div>
                <div> I have done intermediate in computer science.I have learned a lot a basic of computer </div>
              </div>
            </div>

            <div class="timeline-card timeline-card-success" data-aos="fade-in"></div>
              

              


             <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="0">
              <div class="timeline-head px-4 pt-3">
                <div class="h5">Bachelor of data Science  <span class="text-muted h6">Institute of Management Science  University</span>          </div>
              </div>
              <div class="timeline-body px-4 pb-4">
                <div class="text-muted text-small mb-3">2019 - 2023</div>
                <div>BS (Data Science) has a dual emphasis on basic principles of statistics and computer science, with foundational training in statistical and mathematical aspects of data analysis. This program, in addition, develops foundation on broad computer science principles, including algorithms, data structures, data management and machine learning. .</div>
              </div>
            </div>

            
            <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="0">
              <div class="timeline-head px-4 pt-3">
                <div class="h5">Bachelor of data Science  <span class="text-muted h6">Institute of Management Science  University</span>          </div>
              </div>
              <div class="timeline-body px-4 pb-4">
                <div class="text-muted text-small mb-3">2019 - 2023</div>
                <div>BS (Data Science) has a dual emphasis on basic principles of statistics and computer science, with foundational training in statistical and mathematical aspects of data analysis. This program, in addition, develops foundation on broad computer science principles, including algorithms, data structures, data management and machine learning. .</div>
              </div>
            </div>


          
            </div>
         </div>
       </div>
     </div>
</body>
</html>