<!DOCTYPE html>
{% load static  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    


  
</head>
<body>
    
    <footer class="pt-4 pb-4 text-muted text-center d-print-none">
        <div class="container">
          <div class="my-3">
            <div class="h4">Aizaz khan</div>
            <div class="footer-nav">
              <nav role="navigation">
                <ul class="nav justify-content-center">
                  <li class="nav-item"><a class="nav-link" href="https://twitter.com/templateflip" title="Twitter"><i class="fab fa-twitter"></i><span class="menu-title sr-only">Twitter</span></a>
                  </li>
                  <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/templateflip" title="Facebook"><i class="fab fa-facebook"></i><span class="menu-title sr-only">Facebook</span></a>
                  </li>
                  <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/templateflip" title="Instagram"><i class="fab fa-instagram"></i><span class="menu-title sr-only">Instagram</span></a>
                  </li>
                  <li class="nav-item"><a class="nav-link" href="https://github.com/templateflip" title="Github"><i class="fab fa-github"></i><span class="menu-title sr-only">Github</span></a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="text-small">
            <div class="mb-1">&copy; Material Resume. All rights reserved.</div>
            <div>Design -by <a href="https://www.linkedin.com/in/aizaz-khan-74231b212/" target="_blank">Aizaz khan</a></div>
          </div>
        </div>
      </footer>
</body>
</html>